#main #section1 #charInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #section1 #charInfos #imgDiv {
  display: -ms-grid;
  display: grid;
}

#main #section1 #charInfos #imgDiv #imgLabel {
  background-color: black;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-left: 2px solid gray;
  border-top: 2px solid gray;
}

#main #section1 #charInfos #imgDiv #imgLabel #imgSelectBtnFake {
  font-size: 20px;
}

#main #section1 #charInfos #imgDiv #imgLabel:hover {
  background-color: white;
}

#main #section1 #charInfos #imgDiv #imgLabel:hover #imgSelectBtnFake {
  color: black;
}

#main #section1 #charInfos #imgDiv #charImg {
  background-color: black;
  width: 25em;
  height: 22.5em;
  border: solid 1px gray;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 10%;
     object-position: 20% 10%;
}

#main #section1 #charInfos #imgDiv #perInfoBtn {
  display: none;
}

#main #section1 #charInfos #imgDiv #perInfoBtn, #main #section1 #charInfos #imgDiv #perInfoBtnFake {
  background-color: black;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}

#main #section1 #charInfos #imgDiv #perInfoBtn:hover, #main #section1 #charInfos #imgDiv #perInfoBtnFake:hover {
  background-color: white;
  color: black;
}

#main #section1 #charInfos input {
  background-color: black;
}

#main #section1 #charInfos #infoInput {
  background-color: black;
  border: solid 1px gray;
  padding: 10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

#main #section1 #charInfos #infoInput .infoInputDiv {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

#main #section1 #charInfos #infoInput .infoInputDiv span {
  font-size: 20px;
  font-weight: bold;
}

#main #section1 #charInfos #infoInput .infoInputDiv input {
  background-color: black;
  height: 100%;
  padding: 10px;
  font-size: 20px;
}

#main #section2 {
  margin-top: 25px;
}

#main #section2 h1 {
  margin-bottom: 10px;
}

#main #section2 #charInfos2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
}

#main #section2 #charInfos2 #textAreasDiv1 {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

#main #section2 #charInfos2 #textAreasDiv1 #backgroundArea {
  background-color: black;
  width: 100%;
  height: auto;
  resize: vertical;
  min-height: 300px;
  font-size: 20px;
  padding: 10px;
}

#main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 .infoTextarea {
  background-color: black;
  resize: vertical;
  width: 100%;
  min-height: 100px;
  font-size: 20px;
  padding: 10px;
}

#main #section2 #charInfos2 #textAreasDiv2 {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  width: 100%;
}

#main #section2 #charInfos2 #textAreasDiv2 .infoTextarea {
  background-color: black;
  resize: vertical;
  min-height: 100px;
  font-size: 20px;
  padding: 10px;
}

@media only screen and (max-width: 1450px) {
  #main {
    margin: 0 30px 50px 30px;
  }
  #main #section1 #charInfos {
    display: -ms-grid;
    display: grid;
  }
  #main #section1 #charInfos #imgDiv #imgLabel #imgSelectBtnFake {
    font-size: 25px;
  }
  #main #section1 #charInfos #imgDiv #charImg {
    width: 100%;
    resize: vertical;
    overflow: auto;
    min-height: 22.5em;
  }
}

@media only screen and (max-width: 1100px) {
  #main #section2 #charInfos2 {
    display: block;
  }
  #main #section2 #charInfos2 #textAreasDiv1 {
    display: block;
  }
  #main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 {
    display: block;
  }
}

@media only screen and (max-width: 700px) {
  #main #section1 #charInfos #imgDiv {
    display: -ms-grid;
    display: grid;
  }
  #main #section1 #charInfos #imgDiv #imgLabel #imgSelectBtnFake {
    font-size: 15px;
  }
  #main #section1 #charInfos #imgDiv #imgLabel:hover {
    background-color: white;
  }
  #main #section1 #charInfos #imgDiv #imgLabel:hover #imgSelectBtnFake {
    color: black;
  }
  #main #section1 #charInfos #imgDiv #charImg {
    -o-object-position: 20% 10%;
       object-position: 20% 10%;
    width: 100%;
    height: 20em;
  }
  #main #section1 #charInfos #imgDiv #perInfoBtn, #main #section1 #charInfos #imgDiv #perInfoBtnFake {
    font-size: 15px;
  }
  #main #section1 #charInfos #infoInput {
    display: none;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  #main #section1 #charInfos #infoInput .infoInputDiv span {
    font-size: 15px;
  }
  #main #section1 #charInfos #infoInput .infoInputDiv input {
    font-size: 15px;
    width: 100%;
  }
  #main #section2 h1 {
    font-size: 20px;
  }
  #main #section2 #charInfos2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    row-gap: 30px;
  }
  #main #section2 #charInfos2 #textAreasDiv1 {
    display: -ms-grid;
    display: grid;
    row-gap: 30px;
  }
  #main #section2 #charInfos2 #textAreasDiv1 #backgroundArea {
    min-height: 250px;
    font-size: 15px;
    resize: none;
  }
  #main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    row-gap: 30px;
  }
  #main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 .infoTextarea {
    resize: none;
    min-height: 120px;
    font-size: 15px;
  }
  #main #section2 #charInfos2 #textAreasDiv2 {
    display: -ms-grid;
    display: grid;
    row-gap: 30px;
  }
  #main #section2 #charInfos2 #textAreasDiv2 .infoTextarea {
    resize: none;
    min-height: 120px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */