* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

body {
  background-color: black;
  background-image: url("/imgs/backgroundRed.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

body input:hover {
  border-color: white;
}

#footer {
  display: none;
}

#header #navigationBar, #footer #navigationBar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  text-align: center;
  background-color: black;
}

#header #navigationBar .headerImgDiv, #footer #navigationBar .headerImgDiv {
  width: 100%;
  border: solid 1px gray;
  padding: 7px;
  cursor: pointer;
}

#header #navigationBar .headerImgDiv .headerImgs, #footer #navigationBar .headerImgDiv .headerImgs {
  opacity: 50%;
  width: 35px;
}

#header #navigationBar .headerImgDiv:hover .headerImgs, #footer #navigationBar .headerImgDiv:hover .headerImgs {
  opacity: 100%;
  border-color: white;
}

#header #hamburguerMenuDiv, #footer #hamburguerMenuDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 20px;
  margin: 60px 80px 0 0;
}

#header #hamburguerMenuDiv #headerTitle, #footer #hamburguerMenuDiv #headerTitle {
  display: none;
}

#header #hamburguerMenuDiv #hamburguerMenuBtns #hamburguerMenu, #footer #hamburguerMenuDiv #hamburguerMenuBtns #hamburguerMenu {
  display: none;
}

#header #hamburguerMenuDiv #hamburguerMenuBtns #xHamburguerMenu, #footer #hamburguerMenuDiv #hamburguerMenuBtns #xHamburguerMenu {
  display: none;
}

#header #hamburguerMenuDiv #saveLoadBtns, #footer #hamburguerMenuDiv #saveLoadBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

#header #hamburguerMenuDiv #saveLoadBtns .saveLoadBtn, #footer #hamburguerMenuDiv #saveLoadBtns .saveLoadBtn {
  background-color: black;
  font-size: 23px;
  padding: 2px 5px;
}

#header #hamburguerMenuDiv #saveLoadBtns .saveLoadBtn:hover, #footer #hamburguerMenuDiv #saveLoadBtns .saveLoadBtn:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: bold;
}

#main {
  margin: 0 100px 20px 100px;
}

#main #section1 #charInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #section1 #charInfos #imgDiv {
  display: -ms-grid;
  display: grid;
}

#main #section1 #charInfos #imgDiv #imgLabel {
  background-color: black;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid gray;
}

#main #section1 #charInfos #imgDiv #imgLabel #imgSelectBtnFake {
  font-size: 16px;
}

#main #section1 #charInfos #imgDiv #imgLabel:hover {
  background-color: white;
}

#main #section1 #charInfos #imgDiv #imgLabel:hover #imgSelectBtnFake {
  color: black;
}

#main #section1 #charInfos #imgDiv #charImg {
  background-color: black;
  width: 25em;
  height: 22.5em;
  border: solid 1px gray;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 20% 10%;
     object-position: 20% 10%;
}

#main #section1 #charInfos #imgDiv #perInfoBtn {
  display: none;
}

#main #section1 #charInfos #imgDiv #perInfoBtn, #main #section1 #charInfos #imgDiv #perInfoBtnFake {
  background-color: black;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

#main #section1 #charInfos #imgDiv #perInfoBtn:hover, #main #section1 #charInfos #imgDiv #perInfoBtnFake:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#main #section1 #charInfos input {
  background-color: black;
}

#main #section1 #charInfos #infoInput {
  background-color: black;
  border: solid 1px gray;
  padding: 10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

#main #section1 #charInfos #infoInput .infoInputDiv {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

#main #section1 #charInfos #infoInput .infoInputDiv span {
  font-size: 17px;
  font-weight: bold;
}

#main #section1 #charInfos #infoInput .infoInputDiv input {
  background-color: black;
  height: 100%;
  padding: 10px;
  font-size: 17px;
}

#main #section2 {
  margin-top: 25px;
}

#main #section2 h1 {
  margin-bottom: 10px;
}

#main #section2 #charInfos2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
}

#main #section2 #charInfos2 #textAreasDiv1 {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
}

#main #section2 #charInfos2 #textAreasDiv1 #backgroundArea {
  background-color: black;
  width: 100%;
  height: auto;
  resize: vertical;
  min-height: 300px;
  font-size: 18px;
  padding: 10px;
}

#main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 .infoTextarea {
  background-color: black;
  resize: vertical;
  width: 100%;
  min-height: 100px;
  font-size: 16px;
  padding: 10px;
}

#main #section2 #charInfos2 #textAreasDiv2 {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  width: 100%;
}

#main #section2 #charInfos2 #textAreasDiv2 .infoTextarea {
  background-color: black;
  resize: vertical;
  min-height: 100px;
  font-size: 16px;
  padding: 10px;
}

#main #section3 {
  display: none;
  gap: 15px;
}

#main #section3 .statusSpan {
  font-size: 17px;
  font-weight: bold;
}

#main #section3 .statusSpan2 {
  text-align: center;
}

#main #section3 #statusDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

#main #section3 #statusDiv #barsDiv {
  display: -ms-grid;
  display: grid;
  gap: 35px;
  width: 50%;
  background-color: black;
  border: solid 1px gray;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #section3 #statusDiv #barsDiv #lifeStatus .statusCheckDiv, #main #section3 #statusDiv #barsDiv #sanityStatus .statusCheckDiv, #main #section3 #statusDiv #barsDiv #energyStatus .statusCheckDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

#main #section3 #statusDiv #barsDiv #lifeStatus .statusCheckDiv .checkSpans3, #main #section3 #statusDiv #barsDiv #sanityStatus .statusCheckDiv .checkSpans3, #main #section3 #statusDiv #barsDiv #energyStatus .statusCheckDiv .checkSpans3 {
  display: none;
}

#main #section3 #statusDiv #barsDiv #lifeStatus .statusCheckDiv .statusChecks, #main #section3 #statusDiv #barsDiv #sanityStatus .statusCheckDiv .statusChecks, #main #section3 #statusDiv #barsDiv #energyStatus .statusCheckDiv .statusChecks {
  width: 15px;
  height: 15px;
}

#main #section3 #statusDiv #barsDiv #lifeStatus #exhaustSelect, #main #section3 #statusDiv #barsDiv #sanityStatus #exhaustSelect, #main #section3 #statusDiv #barsDiv #energyStatus #exhaustSelect {
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

#main #section3 #statusDiv #barsDiv #lifeStatus #exhaustSelect:hover, #main #section3 #statusDiv #barsDiv #sanityStatus #exhaustSelect:hover, #main #section3 #statusDiv #barsDiv #energyStatus #exhaustSelect:hover {
  border-color: white;
}

#main #section3 #statusDiv #barsDiv #lifeStatus #lifeBarDiv, #main #section3 #statusDiv #barsDiv #lifeStatus #sanityBarDiv, #main #section3 #statusDiv #barsDiv #lifeStatus #energyBarDiv, #main #section3 #statusDiv #barsDiv #sanityStatus #lifeBarDiv, #main #section3 #statusDiv #barsDiv #sanityStatus #sanityBarDiv, #main #section3 #statusDiv #barsDiv #sanityStatus #energyBarDiv, #main #section3 #statusDiv #barsDiv #energyStatus #lifeBarDiv, #main #section3 #statusDiv #barsDiv #energyStatus #sanityBarDiv, #main #section3 #statusDiv #barsDiv #energyStatus #energyBarDiv {
  display: -ms-grid;
  display: grid;
  width: 100%;
  background-color: gray;
}

#main #section3 #statusDiv #barsDiv #lifeStatus #lifeBarDiv #lifeBar, #main #section3 #statusDiv #barsDiv #lifeStatus #sanityBarDiv #lifeBar, #main #section3 #statusDiv #barsDiv #lifeStatus #energyBarDiv #lifeBar, #main #section3 #statusDiv #barsDiv #sanityStatus #lifeBarDiv #lifeBar, #main #section3 #statusDiv #barsDiv #sanityStatus #sanityBarDiv #lifeBar, #main #section3 #statusDiv #barsDiv #sanityStatus #energyBarDiv #lifeBar, #main #section3 #statusDiv #barsDiv #energyStatus #lifeBarDiv #lifeBar, #main #section3 #statusDiv #barsDiv #energyStatus #sanityBarDiv #lifeBar, #main #section3 #statusDiv #barsDiv #energyStatus #energyBarDiv #lifeBar {
  background-color: red;
}

#main #section3 #statusDiv #barsDiv #lifeStatus #lifeBarDiv #sanityBar, #main #section3 #statusDiv #barsDiv #lifeStatus #sanityBarDiv #sanityBar, #main #section3 #statusDiv #barsDiv #lifeStatus #energyBarDiv #sanityBar, #main #section3 #statusDiv #barsDiv #sanityStatus #lifeBarDiv #sanityBar, #main #section3 #statusDiv #barsDiv #sanityStatus #sanityBarDiv #sanityBar, #main #section3 #statusDiv #barsDiv #sanityStatus #energyBarDiv #sanityBar, #main #section3 #statusDiv #barsDiv #energyStatus #lifeBarDiv #sanityBar, #main #section3 #statusDiv #barsDiv #energyStatus #sanityBarDiv #sanityBar, #main #section3 #statusDiv #barsDiv #energyStatus #energyBarDiv #sanityBar {
  background-color: purple;
}

#main #section3 #statusDiv #barsDiv #lifeStatus #lifeBarDiv #energyBar, #main #section3 #statusDiv #barsDiv #lifeStatus #sanityBarDiv #energyBar, #main #section3 #statusDiv #barsDiv #lifeStatus #energyBarDiv #energyBar, #main #section3 #statusDiv #barsDiv #sanityStatus #lifeBarDiv #energyBar, #main #section3 #statusDiv #barsDiv #sanityStatus #sanityBarDiv #energyBar, #main #section3 #statusDiv #barsDiv #sanityStatus #energyBarDiv #energyBar, #main #section3 #statusDiv #barsDiv #energyStatus #lifeBarDiv #energyBar, #main #section3 #statusDiv #barsDiv #energyStatus #sanityBarDiv #energyBar, #main #section3 #statusDiv #barsDiv #energyStatus #energyBarDiv #energyBar {
  background-color: blue;
}

#main #section3 #statusDiv #barsDiv #lifeStatus #lifeCheckDiv, #main #section3 #statusDiv #barsDiv #lifeStatus #sanityCheckDiv, #main #section3 #statusDiv #barsDiv #lifeStatus #energyCheckDiv, #main #section3 #statusDiv #barsDiv #sanityStatus #lifeCheckDiv, #main #section3 #statusDiv #barsDiv #sanityStatus #sanityCheckDiv, #main #section3 #statusDiv #barsDiv #sanityStatus #energyCheckDiv, #main #section3 #statusDiv #barsDiv #energyStatus #lifeCheckDiv, #main #section3 #statusDiv #barsDiv #energyStatus #sanityCheckDiv, #main #section3 #statusDiv #barsDiv #energyStatus #energyCheckDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

#main #section3 #statusDiv #barsDiv #lifeStatus .barDiv, #main #section3 #statusDiv #barsDiv #sanityStatus .barDiv, #main #section3 #statusDiv #barsDiv #energyStatus .barDiv {
  border: 1px solid black;
}

#main #section3 #statusDiv #barsDiv #lifeStatus .barDiv .bar, #main #section3 #statusDiv #barsDiv #sanityStatus .barDiv .bar, #main #section3 #statusDiv #barsDiv #energyStatus .barDiv .bar {
  padding: 3px;
  width: 100%;
  -webkit-transition: width 2s;
  transition: width 2s;
  text-align: center;
  cursor: pointer;
}

#main #section3 #statusDiv #barsDiv #lifeStatus .barDiv:hover, #main #section3 #statusDiv #barsDiv #sanityStatus .barDiv:hover, #main #section3 #statusDiv #barsDiv #energyStatus .barDiv:hover {
  border-color: white;
}

#main #section3 #statusDiv #bodyStatus {
  display: -ms-grid;
  display: grid;
  gap: 5px;
  background-color: black;
  border: solid 1px gray;
  padding: 10px;
  width: 50%;
}

#main #section3 #statusDiv #bodyStatus input {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 23px;
  width: 100%;
}

#main #section3 #statusDiv #bodyStatus #protectionDiv {
  display: -ms-grid;
  display: grid;
  gap: 20px;
}

#main #section3 #statusDiv #bodyStatus #protectionDiv #velDiv #velocity {
  width: 100%;
}

#main #section3 #statusDiv #bodyStatus #protectionDiv #defType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#main #section3 #statusDiv #bodyStatus #protectionDiv #protectionType {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

#main #section3 #statusDiv #bodyStatus #protectionDiv #protectionType #armorWeight {
  font-size: 18px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

#main #section3 #statusDiv #bodyStatus #protectionDiv #protectionType #armorWeight:hover {
  border-color: white;
}

#main #section3 #statusDiv #bodyStatus #protectionDiv #dmgReductDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

#main #section3 #skillsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

#main #section3 #skillsDiv .attSkillInput {
  color: purple !important;
}

#main #section3 #skillsDiv .attSkillInput, #main #section3 #skillsDiv .attInput {
  background-color: black;
  color: yellow;
  text-align: center;
  font-size: 23px;
  width: 100%;
  font-weight: bold;
}

#main #section3 #skillsDiv .attSkillInput:hover, #main #section3 #skillsDiv .attInput:hover {
  border-color: white;
}

#main #section3 #skillsDiv .attSkillMainSpan {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}

#main #section3 #skillsDiv #atributes {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  background-color: black;
  border: solid 1px gray;
  padding: 10px;
}

#main #section3 #skillsDiv #atributes #atributesInputDiv {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

#main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid .attInput {
  text-align: center;
  font-size: 23px;
  width: 70px;
}

#main #section3 #skillsDiv #atributes #atributesInputDiv .attSkillInput {
  text-align: center;
  width: 150px;
}

#main #section3 #skillsDiv #skills {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  width: 100%;
  background-color: black;
  border: solid 1px gray;
  padding: 10px;
}

#main #section3 #skillsDiv #skills #profBonusDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 20px;
}

#main #section3 #skillsDiv #skills #profBonusDiv #profBonusGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 10px;
}

#main #section3 #skillsDiv #skills #profBonusDiv #profBonusGrid .attSkillInput {
  font-size: 23px;
}

#main #section3 #skillsDiv #skills #skillsGridDiv {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

#main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid {
  display: -ms-grid;
  display: grid;
}

#main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv {
  display: none;
  gap: 10px;
  position: absolute;
  background-color: white;
  z-index: 10;
  border: solid 1px gray;
  padding: 5px;
}

#main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv .profModalSpan {
  color: black;
}

#main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv input {
  width: 15px;
  height: 15px;
}

#main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .spanCheckGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .spanCheckGrid input {
  width: 15px;
  height: 15px;
}

#main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .spanCheckGrid .profModalCheck {
  font-size: 14px;
  cursor: pointer;
}

#main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .spanCheckGrid .profModalCheck:hover {
  color: red;
}

#main #section4 {
  display: none;
  gap: 15px;
}

#main #section4 #editContentBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

#main #section4 #editContentBtn .editBtnDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #section4 #editContentBtn .editBtnDiv .xBtn {
  display: none;
  border-color: white;
}

#main #section4 #editContentBtn .editBtnDiv .editBtn {
  opacity: 50%;
}

#main #section4 #editContentBtn .editBtnDiv .editBtn, #main #section4 #editContentBtn .editBtnDiv .xBtn {
  background-color: black;
  cursor: pointer;
  width: 100px;
}

#main #section4 #editContentBtn .editBtnDiv .editBtn .imgBtn, #main #section4 #editContentBtn .editBtnDiv .xBtn .imgBtn {
  margin: auto;
  width: 60px;
  padding: 5px;
}

#main #section4 #editContentBtn .editBtnDiv .editBtn:hover, #main #section4 #editContentBtn .editBtnDiv .xBtn:hover {
  opacity: 100%;
  border-color: white;
}

#main #section4 #editContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 15px;
}

#main #section4 #editContent #passiveAb, #main #section4 #editContent #activeAb, #main #section4 #editContent #spellsDiv, #main #section4 #editContent #weaponsDiv {
  display: none;
  width: 100%;
}

#main #section4 #editContent .editOpts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  background-color: black;
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  border-bottom: 0;
}

#main #section4 #editContent .editOpts .fontStyle {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 30px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

#main #section4 #editContent .editOpts .fontStyle:hover {
  border-color: white;
}

#main #section4 #editContent .editOpts .inputStyle {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#main #section4 #editContent .editOpts .inputStyle option {
  background-color: black;
}

#main #section4 #editContent .editOpts .inputStyle:hover {
  border-color: white;
}

#main #section4 #editContent .editOpts .inputStyle:hover option {
  background-color: black;
}

#main #section4 #editContent .editOpts .colorSfontColortyle {
  height: 21.5px;
  width: 20px;
}

#main #section4 #editContent .editOpts .fontColor:hover {
  border-color: white;
}

#main #section4 #editContent .editOpts .fontStyleEditor {
  padding: 0;
  width: 1.6em;
  height: 1.45em;
}

#main #section4 #editContent .editOpts .fontStyleEditor .editorImgs {
  width: 1.2em;
  padding: 0;
}

#main #section4 #editContent .editOpts .fontStyleEditor .editorList .editorAlign {
  height: 1.15em;
}

#main #section4 #editContent .editableArea {
  resize: vertical;
  overflow: auto !important;
  word-break: break-all !important;
  border: solid 1px gray;
  background-color: black;
  min-height: 500px;
  height: 500px;
  width: 100%;
  padding: 10px;
}

#main #section5 {
  display: none;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

#main #section5 #editContent1 #wealth {
  margin-bottom: 15px;
}

#main #section5 #editContent1 #wealth div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 15px;
}

#main #section5 #editContent1 #wealth div .wealthInput {
  text-align: center;
  font-size: 20px;
  background-color: black;
  padding: 5px;
}

#main #section5 #editContent1 .editOpts, #main #section5 #editContent2 .editOpts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  background-color: black;
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  border-bottom: 0;
}

#main #section5 #editContent1 .editOpts .fontStyle, #main #section5 #editContent2 .editOpts .fontStyle {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 30px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

#main #section5 #editContent1 .editOpts .fontStyle:hover, #main #section5 #editContent2 .editOpts .fontStyle:hover {
  border-color: white;
}

#main #section5 #editContent1 .editOpts .inputStyle, #main #section5 #editContent2 .editOpts .inputStyle {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#main #section5 #editContent1 .editOpts .inputStyle option, #main #section5 #editContent2 .editOpts .inputStyle option {
  background-color: black;
}

#main #section5 #editContent1 .editOpts .inputStyle:hover, #main #section5 #editContent2 .editOpts .inputStyle:hover {
  border-color: white;
}

#main #section5 #editContent1 .editOpts .inputStyle:hover option, #main #section5 #editContent2 .editOpts .inputStyle:hover option {
  background-color: black;
}

#main #section5 #editContent1 .editOpts .colorSfontColortyle, #main #section5 #editContent2 .editOpts .colorSfontColortyle {
  height: 21.5px;
  width: 20px;
}

#main #section5 #editContent1 .editOpts .fontColor:hover, #main #section5 #editContent2 .editOpts .fontColor:hover {
  border-color: white;
}

#main #section5 #editContent1 .editOpts .fontStyleEditor, #main #section5 #editContent2 .editOpts .fontStyleEditor {
  padding: 0;
  width: 1.6em;
  height: 1.45em;
}

#main #section5 #editContent1 .editOpts .fontStyleEditor .editorImgs, #main #section5 #editContent2 .editOpts .fontStyleEditor .editorImgs {
  width: 1.2em;
  padding: 0;
}

#main #section5 #editContent1 .editOpts .fontStyleEditor .editorList .editorAlign, #main #section5 #editContent2 .editOpts .fontStyleEditor .editorList .editorAlign {
  height: 1.15em;
}

#main #section5 #editContent1 #editableArea1, #main #section5 #editContent2 #editableArea1 {
  min-height: 410px;
  height: 410px;
}

#main #section5 #editContent1 .editableArea, #main #section5 #editContent2 .editableArea {
  resize: vertical;
  overflow: auto;
  word-break: break-all;
  border: solid 1px gray;
  background-color: black;
  min-height: 500px;
  height: 500px;
  width: 100%;
  padding: 10px;
}

#main #section6 {
  display: none;
  width: 100%;
}

#main #section6 .editOpts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  background-color: black;
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  border-bottom: 0;
}

#main #section6 .editOpts .fontStyle {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  width: 30px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

#main #section6 .editOpts .fontStyle:hover {
  border-color: white;
}

#main #section6 .editOpts .inputStyle {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#main #section6 .editOpts .inputStyle option {
  background-color: black;
}

#main #section6 .editOpts .inputStyle:hover {
  border-color: white;
}

#main #section6 .editOpts .inputStyle:hover option {
  background-color: black;
}

#main #section6 .editOpts .colorSfontColortyle {
  height: 21.5px;
  width: 20px;
}

#main #section6 .editOpts .fontColor:hover {
  border-color: white;
}

#main #section6 .editOpts .fontStyleEditor {
  padding: 0;
  width: 1.6em;
  height: 1.45em;
}

#main #section6 .editOpts .fontStyleEditor .editorImgs {
  width: 1.2em;
  padding: 0;
}

#main #section6 .editOpts .fontStyleEditor .editorList .editorAlign {
  height: 1.15em;
}

#main #section6 #editableArea {
  resize: vertical;
  overflow: auto;
  border: solid 1px gray;
  background-color: black;
  padding: 10px;
  width: 100%;
  height: 550px;
  min-height: 550px;
}

@media only screen and (max-width: 1450px) {
  #header #navigationBar .headerImgDiv .headerImgs {
    width: 40px;
  }
  #header #hamburguerMenuDiv {
    margin: 85px 0 0 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header #hamburguerMenuDiv #saveLoadBtns .saveLoadBtn {
    font-size: 22px;
  }
  #main {
    margin: 0 30px 30px 30px;
  }
  #main #section1 #charInfos #imgDiv #imgLabel #imgSelectBtnFake {
    font-size: 16px;
  }
  #main #section5 {
    display: none;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 20px;
  }
  #main #section5 #editContent1 #wealth div .wealthInput {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1340px) {
  #main #section4 #editContent {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    gap: 15px;
  }
}

@media only screen and (max-width: 1100px) {
  #header #hamburguerMenuDiv {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  #main #section1 #charInfos {
    display: -ms-grid;
    display: grid;
  }
  #main #section1 #charInfos #imgDiv {
    display: -ms-grid;
    display: grid;
    margin: auto;
  }
  #main #section1 #charInfos #imgDiv #perInfoBtn {
    display: block;
  }
  #main #section1 #charInfos #imgDiv #perInfoBtnFake {
    display: none;
  }
  #main #section1 #charInfos #infoInput {
    display: none;
  }
  #main #section3 #statusDiv #barsDiv {
    width: 70%;
  }
  #main #section3 #statusDiv #bodyStatus {
    width: 40%;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid .attInput {
    width: 70px;
  }
  #main #section4 {
    display: none;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 15px;
  }
  #main #section4 #editContent {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 15px;
  }
}

@media only screen and (max-width: 915px) {
  #main #section3 #statusDiv {
    display: block;
  }
  #main #section3 #statusDiv #barsDiv {
    width: 100%;
  }
  #main #section3 #statusDiv #bodyStatus {
    width: 100%;
  }
  #main #section3 #skillsDiv {
    display: block;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 15px;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid {
    gap: 10px;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid .attInput {
    width: 70px;
  }
}

@media only screen and (max-width: 730px) {
  #header #navigationBar {
    display: none;
  }
  #header #hamburguerMenuDiv {
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    background-color: black;
    gap: 25px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid gray;
  }
  #header #hamburguerMenuDiv #headerTitle {
    display: block;
    font-size: 30px;
  }
  #header #hamburguerMenuDiv #saveLoadBtns {
    display: none;
    margin: 0;
  }
  #header #hamburguerMenuDiv #hamburguerMenuBtns {
    margin: 0 0 0 10px;
  }
  #header #hamburguerMenuDiv #hamburguerMenuBtns .hamburguer {
    width: 30px;
  }
  #header #hamburguerMenuDiv #hamburguerMenuBtns #hamburguerMenu {
    display: block;
  }
  #header #hamburguerMenuDiv #hamburguerMenuBtns #xHamburguerMenu {
    width: 30px;
    height: 27px;
    display: none;
  }
  #main {
    margin-top: 95px;
    margin-bottom: 105px;
  }
  #main #section1 #charInfos #imgDiv {
    display: -ms-grid;
    display: grid;
    width: 100%;
  }
  #main #section1 #charInfos #imgDiv #charImg {
    -o-object-position: 50%;
       object-position: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 30em;
    border: solid 1px gray;
  }
  #main #section1 #charInfos #imgDiv #perInfoBtnFake {
    display: none;
  }
  #main #section1 #charInfos #imgDiv #perInfoBtn {
    display: block;
  }
  #main #section1 #charInfos #infoInput {
    display: none;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 5px;
  }
  #main #section1 #charInfos #infoInput .infoInputDiv span {
    font-size: 18px;
  }
  #main #section1 #charInfos #infoInput .infoInputDiv input {
    font-size: 18px;
    width: 100%;
  }
  #main #section2 #charInfos2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    row-gap: 10px;
  }
  #main #section2 #charInfos2 #textAreasDiv1 {
    display: -ms-grid;
    display: grid;
    row-gap: 10px;
  }
  #main #section2 #charInfos2 #textAreasDiv1 #backgroundArea {
    min-height: 250px;
    font-size: 18px;
    resize: none;
  }
  #main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    row-gap: 10px;
  }
  #main #section2 #charInfos2 #textAreasDiv1 #textAreasDiv3 .infoTextarea {
    resize: none;
    min-height: 120px;
    font-size: 17px;
  }
  #main #section2 #charInfos2 #textAreasDiv2 {
    display: -ms-grid;
    display: grid;
    row-gap: 10px;
  }
  #main #section2 #charInfos2 #textAreasDiv2 .infoTextarea {
    resize: none;
    min-height: 120px;
    font-size: 17px;
  }
  #main #section4 #editContentBtn {
    gap: 30px;
  }
  #main #section4 #editContentBtn .editBtnDiv .editBtn, #main #section4 #editContentBtn .editBtnDiv .xBtn {
    width: 80px;
  }
  #main #section4 #editContentBtn .editBtnDiv .editBtn .imgBtn, #main #section4 #editContentBtn .editBtnDiv .xBtn .imgBtn {
    width: 50px;
    padding: 5px;
  }
  #main #section4 #editContent {
    gap: 20px;
  }
  #main #section4 #editContent .editOpts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  }
  #main #section4 #editContent .editableArea {
    resize: none;
    font-size: 17px;
    min-height: 250px;
    height: auto;
  }
  #main #section5 {
    display: none;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  #main #section5 #editContent1 #wealth {
    margin-bottom: 15px;
  }
  #main #section5 #editContent1 #wealth div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 15px;
  }
  #main #section5 #editContent1 #wealth div .wealthInput {
    text-align: center;
    font-size: 20px;
    background-color: black;
    padding: 10px;
  }
  #main #section5 #editContent1 .editOpts, #main #section5 #editContent2 .editOpts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  }
  #main #section5 #editContent1 #editableArea1, #main #section5 #editContent2 #editableArea1 {
    min-height: 250px;
    height: 250px;
  }
  #main #section5 #editContent1 .editableArea, #main #section5 #editContent2 .editableArea {
    resize: none;
    font-size: 17px;
    min-height: 250px;
    height: 250px;
  }
  #main #section6 .editOpts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  }
  #main #section6 #editableArea {
    resize: none;
    font-size: 17px;
    min-height: 587px;
  }
  #footer {
    display: block;
    margin-top: 80px;
  }
  #footer #bottomNavigationBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto;
    text-align: center;
    background-color: black;
  }
  #footer #bottomNavigationBar .headerImgDiv {
    width: 100%;
    padding: 18px;
    cursor: pointer;
    border-top: 1px solid gray;
  }
  #footer #bottomNavigationBar .headerImgDiv .headerImgs {
    opacity: 50%;
    width: 40px;
  }
  #footer #bottomNavigationBar .headerImgDiv:hover .headerImgs {
    opacity: 100%;
  }
}

@media only screen and (max-width: 670px) {
  #main #section3 #statusDiv {
    display: block;
  }
  #main #section3 #statusDiv #barsDiv {
    width: 100%;
  }
  #main #section3 #statusDiv #bodyStatus {
    width: 100%;
  }
  #main #section3 #statusDiv #bodyStatus #protectionDiv #protectionType #armorWeight {
    font-size: 16px;
  }
  #main #section3 #skillsDiv #atributes {
    gap: 20px;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid {
    display: -ms-grid;
    display: grid;
    gap: 0;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid .attInput {
    width: 100%;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid {
    display: -ms-grid;
    display: grid;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv {
    display: none;
    gap: 10px;
    position: absolute;
    background-color: white;
    z-index: 10;
    border: solid 1px gray;
    padding: 5px;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv .profModalSpan {
    color: black;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv input {
    width: 15px;
    height: 15px;
  }
  #main #section3 #skillsDiv #skills #profBonusDiv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    gap: 5px;
  }
  #main #section3 #skillsDiv #skills #profBonusDiv #profBonusGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
  }
  #main #section3 #skillsDiv #skills #profBonusDiv #passiveBonus {
    display: none;
  }
}

@media only screen and (max-width: 615px) {
  #main #section3 #statusDiv #barsDiv .statusCheckDiv .checkSpans, #main #section3 #statusDiv #barsDiv .lifeChecks .checkSpans {
    font-size: 17px;
  }
  #main #section3 #statusDiv #barsDiv #lifeStatus #lifeCheckDiv {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    gap: 12px;
  }
  #main #section3 #statusDiv #barsDiv #lifeStatus #lifeCheckDiv .lifeChecks #exhaustSelect {
    font-size: 16px;
  }
}

@media only screen and (max-width: 550px) {
  #main {
    margin: auto;
  }
  #main #section1 {
    margin-top: 70px;
  }
  #main #section3, #main #section4, #main #section5, #main #section6 {
    margin-top: 90px;
  }
  #main #section3 #statusDiv #barsDiv #lifeStatus .barDiv .bar, #main #section3 #statusDiv #barsDiv #sanityStatus .barDiv .bar, #main #section3 #statusDiv #barsDiv #energyStatus .barDiv .bar {
    font-size: 18px;
  }
  #main #section3 #statusDiv #bodyStatus #protectionDiv #protectionType #armorWeight {
    font-size: 18px;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv div .attSkillSpan {
    font-size: 17px;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid {
    display: -ms-grid;
    display: grid;
    gap: 0;
  }
  #main #section3 #skillsDiv #atributes #atributesInputDiv .attModGrid .attInput {
    width: 100%;
  }
  #main #section3 #skillsDiv #skills {
    gap: 20px;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .spanCheckGrid {
    font-size: 17px;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid {
    display: -ms-grid;
    display: grid;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv {
    display: none;
    gap: 10px;
    position: absolute;
    background-color: white;
    z-index: 10;
    border: solid 1px gray;
    padding: 5px;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv .profModalSpan {
    color: black;
  }
  #main #section3 #skillsDiv #skills #skillsGridDiv .skillsGrid .profModalGrid .profModalDiv input {
    width: 15px;
    height: 15px;
  }
  #main #section4 #editContentBtn .editBtnDiv .editBtn, #main #section4 #editContentBtn .editBtnDiv .xBtn {
    width: 75px;
  }
  #main #section4 #editContentBtn .editBtnDiv .editBtn .imgBtn, #main #section4 #editContentBtn .editBtnDiv .xBtn .imgBtn {
    width: 45px;
    padding: 2px;
  }
}

@media only screen and (max-width: 430px) {
  #main #section3 #statusDiv #barsDiv #lifeStatus #lifeCheckDiv .statusCheckDiv .checkSpans2 {
    display: none;
  }
  #main #section3 #statusDiv #barsDiv #lifeStatus #lifeCheckDiv .statusCheckDiv .checkSpans3 {
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */