* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 58, 58);
  }

body {
    background-color: black;
    background-image: url('/imgs/backgroundRed.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    input:hover {
        border-color: white;
    }
}

#header {

    #navigationBar {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        text-align: center;
        background-color: black;

        .headerImgDiv {
            opacity: 50%;
            width: 100%;
            border: solid 1px gray;
            padding: 7px;
            cursor: pointer;
    
            .headerImgs {
                width: 35px;
            }  
        }
    
        .headerImgDiv:hover {
            opacity: 100%;
            border-color: white;
        }
    }

    #saveLoadBtnsDiv {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        justify-content: right;
        padding: 20px;
        margin: 60px 80px 0 0;

        .saveLoadBtn {
            background-color: black;
            font-size: 23px;
        }

        .saveLoadBtn:hover {
            cursor: pointer;
            background-color: white;
            color: black;
            font-weight: bold;
        }
    }
}

#main {
    margin: 0 100px 20px 100px;

    #mainTitle {
        top: 25vh;
        position: relative;
        text-align: center;
        font-family: "Krona One";
        font-size: 80px;
    }

    #section1 {
        display: none;

        #charInfos {
            display: flex;

            #imgDiv {
                display: grid;

                #imgLabel {
                    background-color: black;
                    text-align: center;
                    font-weight: bold;
                    cursor: pointer;
                    border-left: 2px solid gray;
                    border-top: 2px solid gray;
        
                    #imgSelectBtnFake {
                        font-size: 20px;
                    }
                }
        
                #imgLabel:hover {
                    background-color: white;
        
                    #imgSelectBtnFake {
                        color: black;
                    }
                }

                #charImg {
                    background-color: black;
                    width: 25em;
                    height: 22.5em;
                    border: solid 1px gray;
                    object-fit: cover;
                    object-position: 20% 10%;
                }

                #perInfoBtn {
                    display: none;
                }

                #perInfoBtn, #perInfoBtnFake {
                    background-color: black;
                    width: 100%;
                    font-weight: bold;
                    font-size: 20px;
                }

                #perInfoBtn:hover, #perInfoBtnFake:hover {
                    background-color: white;
                    color: black;
                }
            }
    
            input {
                background-color: black;
            }
    
            #infoInput {
                background-color: black;
                border: solid 1px gray;
                padding: 10px;
                width: 100%;
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 30px;
    
                .infoInputDiv {
                    display: grid;
                    align-items: center;
                    padding: 10px;
    
                    span {
                        font-size: 20px;
                        font-weight: bold;
                    }
                    
                    input {
                        background-color: black;
                        height: 100%;
                        padding: 10px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #section2 {
        display: none;
        margin-top: 25px;

        h1 {
            margin-bottom: 10px;
        }

        #charInfos2 {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 10px;
            width: 100%;

            #textAreasDiv1 {
                display: grid;
                row-gap: 15px;

                #backgroundArea {
                    background-color: black;
                    width: 100%;
                    height: auto;
                    resize: vertical;
                    min-height: 300px;
                    font-size: 20px;
                    padding: 10px;
                }

                #textAreasDiv3 {
                    display: grid;
                    grid-template-columns: auto auto;
                    column-gap: 10px;

                    .infoTextarea {
                        background-color: black;
                        resize: vertical;
                        width: 100%;
                        min-height: 100px;
                        font-size: 20px;
                        padding: 10px;
                    }
                }
            }

            #textAreasDiv2 {
                display: grid;
                row-gap: 15px;
                width: 100%;

                .infoTextarea {
                    background-color: black;
                    resize: vertical;
                    min-height: 100px;
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }

    #section4 {
        display: none;
        gap: 15px;

        #editContentBtn {
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;
            margin-bottom: 35px;
            
            .editBtnDiv {
                display: flex;
                align-items: center;

                .xBtn {
                    display: none;
                    border-color: white;
                }

                .editBtn {
                    opacity: 50%;
                }

                .editBtn, .xBtn {
                    background-color: black;
                    cursor: pointer;
                    width: 100px;

                    .imgBtn {
                        margin: auto;
                        width: 60px;
                        padding: 5px;
                    }
                }

                .editBtn:hover, .xBtn:hover {
                    opacity: 100%;
                    border-color: white;
                }
            }
        }

        #editContent {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            gap: 15px;

            #passiveAb, #activeAb, #spellsDiv, #weaponsDiv {
                display: none;
                width: 100%;
            }

            .editOpts {
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
                justify-content: left;
                column-gap: 10px;
                background-color: black;
                width: 100%;
                padding: 5px;
                border: 1px solid gray;
                border-bottom: 0;
                
                .fontStyle {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    width: 30px;
                    font-size: 18px;
                    cursor: pointer;
                    outline: none;
                }
                
                .fontStyle:hover {
                    border-color: white;
                }
                
                .inputStyle {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                
                    option {
                        background-color: black;
                    }
                }
                
                .inputStyle:hover {
                    border-color: white;
                
                    option {
                        background-color: black;
                    }
                }
                
                .colorSfontColortyle {
                    height: 21.5px;
                    width: 20px;
                }
                
                .fontColor:hover {
                    border-color: white;
                }
                
                .fontStyleEditor {
                    padding: 0;
                    width: 1.6em;
                    height: 1.45em;
                
                    .editorImgs {
                        width: 1.2em;
                        padding: 0;
                    }
                
                    .editorList .editorAlign {
                        height: 1.15em;
                    }
                }
            }

            .editableArea {
                resize: vertical;
                overflow: auto !important;
                word-break: break-all !important;
                border: solid 1px gray;
                background-color: black;
                min-height: 500px;
                height: 500px;
                width: 100%;
                padding: 10px;
            }
        }
    }

    #section5 {
        display: none;
        grid-template-columns: auto auto;
        column-gap: 10px;

        #editContent1 {

            #wealth {
                margin-bottom: 15px;
                    
                div {
                    display: grid;
                    grid-template-columns: auto auto;
                    gap: 15px;

                    .wealthInput {
                        text-align: center;
                        font-size: 20px;
                        background-color: black;
                        padding: 10px;
                    }
                }
            }
        }

        #editContent1, #editContent2 {

            .editOpts {
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
                justify-content: left;
                column-gap: 10px;
                background-color: black;
                width: 100%;
                padding: 5px;
                border: 1px solid gray;
                border-bottom: 0;
                
                .fontStyle {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    width: 30px;
                    font-size: 18px;
                    cursor: pointer;
                    outline: none;
                }
                
                .fontStyle:hover {
                    border-color: white;
                }
                
                .inputStyle {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                
                    option {
                        background-color: black;
                    }
                }
                
                .inputStyle:hover {
                    border-color: white;
                
                    option {
                        background-color: black;
                    }
                }
                
                .colorSfontColortyle {
                    height: 21.5px;
                    width: 20px;
                }
                
                .fontColor:hover {
                    border-color: white;
                }
                
                .fontStyleEditor {
                    padding: 0;
                    width: 1.6em;
                    height: 1.45em;
                
                    .editorImgs {
                        width: 1.2em;
                        padding: 0;
                    }
                
                    .editorList .editorAlign {
                        height: 1.15em;
                    }
                }
            }

            #editableArea1 {
                min-height: 410px;
                height: 410px;
            }

            .editableArea {
                resize: vertical;
                overflow: auto;
                word-break: break-all;
                border: solid 1px gray;
                background-color: black;
                min-height: 500px;
                height: 500px;
                width: 100%;
                padding: 10px;
            }
        }
    }

    #section6 {
        display: none;
        width: 100%;

        .editOpts {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
            justify-content: left;
            column-gap: 10px;
            background-color: black;
            width: 100%;
            padding: 5px;
            border: 1px solid gray;
            border-bottom: 0;
            
            .fontStyle {
                background-color: rgba(0, 0, 0, 0);
                color: white;
                width: 30px;
                font-size: 18px;
                cursor: pointer;
                outline: none;
            }
            
            .fontStyle:hover {
                border-color: white;
            }
            
            .inputStyle {
                background-color: rgba(0, 0, 0, 0);
                color: white;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
            
                option {
                    background-color: black;
                }
            }
            
            .inputStyle:hover {
                border-color: white;
            
                option {
                    background-color: black;
                }
            }
            
            .colorSfontColortyle {
                height: 21.5px;
                width: 20px;
            }
            
            .fontColor:hover {
                border-color: white;
            }
            
            .fontStyleEditor {
                padding: 0;
                width: 1.6em;
                height: 1.45em;
            
                .editorImgs {
                    width: 1.2em;
                    padding: 0;
                }
            
                .editorList .editorAlign {
                    height: 1.15em;
                }
            }
        }

        #editableArea {
            resize: vertical;
            overflow: auto;
            border: solid 1px gray;
            background-color: black;
            padding: 10px;
            width: 100%;
            height: 550px;
            min-height: 550px;
        }
    }
}

@media only screen and (max-width: 1450px) {

    #header {

        #navigationBar {
    
            .headerImgDiv {
        
                .headerImgs {
                    width: 45px;
                }  
            }
        }
        
        #saveLoadBtnsDiv {
            margin: 85px 0 0 0;
            justify-content: space-between;

            .saveLoadBtn {
                font-size: 30px;
            }
        }
    }

    #main {
        margin: 0 30px 50px 30px;
        font-size: 20px;

        #section1 {

            #charInfos {
                display: grid;
                
                #imgDiv {

                    #imgLabel {

                        #imgSelectBtnFake {
                            font-size: 25px;
                        }
                    }

                    #charImg {
                        width: 100%;
                        resize: vertical;
                        overflow: auto;
                        min-height: 22.5em;
                    }
                }
    
            }
        }

        #section5 {
            display: none;
            grid-template-columns: auto;
            gap: 20px;
            
            #editContent1 {

                #wealth {
                        
                    div {
    
                        .wealthInput {
                            font-size: 35px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1340px) {

    #main {
        
        #section4 {

            #editContent {
                grid-template-columns: auto auto;
                gap: 15px;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {

    #main {

        #section2 {
    
            #charInfos2 {
                display: block;
    
                #textAreasDiv1 {
                    display: block;

                    #textAreasDiv3 {
                        display: block;
                    }
                }
            }
        }

        #section4 {
            display: none;
            grid-template-columns: auto;
            gap: 15px;

            #editContent {
                grid-template-columns: auto;
                gap: 15px;
            }
        }

        #section5 {
            
            #editContent1 {

                #wealth {
                        
                    div {
                        grid-template-columns: auto;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {

    #header {
        
        #saveLoadBtnsDiv {
            justify-content: center;

            .saveLoadBtn {
                font-size: 23px;
            }
        }
    }

    #main {
        margin: 0 0 20px 0;

        #section1 {

            #charInfos {
    
                #imgDiv {
                    display: grid;
    
                    #imgLabel {
            
                        #imgSelectBtnFake {
                            font-size: 18px;
                        }
                    }
            
                    #imgLabel:hover {
                        background-color: white;
            
                        #imgSelectBtnFake {
                            color: black;
                        }
                    }
    
                    #charImg {
                        object-position: 20% 10%;
                        width: 100%;
                        height: 20em;
                    }

                    #perInfoBtnFake {
                        display: none;
                    }

                    #perInfoBtn {
                        display: block;
                    }

                    #perInfoBtn, #perInfoBtnFake {
                        font-size: 18px;
                    }
                }

                #infoInput {
                    display: none;
                    grid-template-columns: auto;
                    column-gap: 30px;
        
                    .infoInputDiv {
        
                        span {
                            font-size: 18px;
                        }
                        
                        input {
                            font-size: 18px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    
        #section2 {
            
            h1 {
                font-size: 20px;
            }
    
            #charInfos2 {
                display: grid;
                grid-template-columns: auto;
                row-gap: 30px;
    
                #textAreasDiv1 {
                    display: grid;
                    row-gap: 30px;
    
                    #backgroundArea {
                        min-height: 250px;
                        font-size: 18px;
                        resize: none;
                    }
    
                    #textAreasDiv3 {
                        display: grid;
                        grid-template-columns: auto;
                        row-gap: 30px;
    
                        .infoTextarea {
                            resize: none;
                            min-height: 120px;
                            font-size: 18px;
                        }
                    }
                }
    
                #textAreasDiv2 {
                    display: grid;
                    row-gap: 30px;
    
                    .infoTextarea {
                        resize: none;
                        min-height: 120px;
                        font-size: 15px;
                    }
                }
            }
        }

        #section4 {

            #editContentBtn {
                gap: 20px;

                .editBtnDiv {
                    
                    .editBtn, .xBtn {
                        width: 80px;
            
                        .imgBtn {
                            width: 50px;
                            padding: 5px;
                        }
                    }
                }
            }
            
            #editContent {
                gap: 30px;

                h1 {
                    font-size: 20px
                }

                .editOpts {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
                }
                
                .editableArea {
                    resize: none;
                    font-size: 15px;
                    min-height: 250px;
                    height: auto;
                }
            }
        }

        #section5 {
            display: none;
            grid-template-columns: auto;
            column-gap: 10px;
    
            h1 {
                font-size: 20px
            }

            #editContent1 {
    
                #wealth {
                    margin-bottom: 15px;
                        
                    div {
                        display: grid;
                        grid-template-columns: auto;
                        gap: 15px;
    
                        .wealthInput {
                            text-align: center;
                            font-size: 20px;
                            background-color: black;
                            padding: 10px;
                        }
                    }
                }
            }
    
            #editContent1, #editContent2 {

                .editOpts {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
                }

                #editableArea1 {
                    min-height: 250px;
                    height: 250px;
                }
                
                .editableArea {
                    resize: none;
                    font-size: 15px;
                    min-height: 250px;
                    height: 250px;
                }
            }
        }

        #section6 {

            h1 {
                font-size: 20px;
            }
    
            .editOpts {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
            }
            
            #editableArea {
                resize: none;
                font-size: 18px;
                min-height: 1100px;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    
    #main {

        #section4 {
            
            #editContentBtn {
    
                .editBtnDiv {
                    
                    .editBtn, .xBtn {
                        width: 65px;
            
                        .imgBtn {
                            width: 40px;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}