* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 20px
}

input:focus, textarea:focus {
    outline: none;
}

input[type="checkbox"] {
    accent-color: red;
}

input[type="radio"] {
    accent-color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background: gray;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 58, 58);
  }

body {
    background-color: black;
    background-image: url('/imgs/backgroundRed.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    input:hover {
        border-color: white;
    }
}

#footer {
    display: none;
}

#header, #footer {
    position: relative;
    z-index: 10;

    #navigationBar {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 10;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        text-align: center;
        background-color: black;

        .headerImgDiv {
            width: 100%;
            border: solid 1px gray;
            padding: 7px;
            cursor: pointer;
    
            .headerImgs {
                opacity: 50%;
                width: 35px;
            }  
        }
    
        .headerImgDiv:hover {

            .headerImgs {
                opacity: 100%;
                border-color: white;
            }
        }
    }

    #hamburguerMenuDiv {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 15px;
        justify-content: right;
        padding: 20px;
        margin: 60px 80px 0 0;

        #headerTitle {
            display: none;
        }

        #hamburguerMenuBtns {
        
            #hamburguerMenu {
                display: none;
            }

            #xHamburguerMenu {
                display: none;
            }
        }

        #saveLoadDelBtns {
            display: flex;
            gap: 10px;

            .saveLoadDelBtn {
                display: flex;
                background-color: black;
                padding: 5px 5px;
                align-items: center;
                cursor: pointer;
                width: 60px;
                border-color: gray;

                .saveLoadDelImg {
                    width: 40px;
                    margin: auto;
                }
            }
    
            .saveLoadDelBtn:hover {
                border-color: white;
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 99; /* Em cima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Ativa rolagem se necessário */
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* Fundo escuro com opacidade */
}

.modal-content {
    background-color: #000000;
    position: fixed; /* Fixa o modal no centro da tela */
    top: 54%; /* Posiciona o topo do modal a 50% da altura da tela */
    left: 50%; /* Posiciona o lado esquerdo do modal a 50% da largura da tela */
    transform: translate(-50%, -50%); /* Move o modal para centralizar exatamente no meio */
    padding: 20px;
    border: 2px solid gray;
    max-width: 500px;
    min-width: 500px;
    max-height: 90vh; /* Limita a altura do modal a 90% da altura da janela */
    overflow-y: auto; /* Habilita rolagem vertical se o conteúdo ultrapassar o tamanho */
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    .modalHeader {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;

        #closeModal {
            float: none;
            font-size: 25px !important;
        }
    }

    #itemDescription {
        word-wrap: break-word; /* Faz a quebra de linha entre palavras */
        word-break: break-all;
        hyphens: auto; /* Hifeniza as palavras longas, se necessário */
        overflow-y: scroll; /* Adiciona scroll vertical */
        height: 250px;
        max-height: 250px;
        font-size: 13px;
        border: 2px solid gray !important;
        
        p, div {
            font-size: 13px;
        }
    }

    #itemDescription:focus {
        outline: none;
    }

    .itemInfoDiv {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        gap: 10px;

        div {
            max-width: 150px;

            input {
                width: 100%;
            }
        }
    }

    h2 {
        font-size: 20px;
    }

    input, #saveItem {
        background-color: black;
        overflow-y: auto;
    }

    input {
        padding: 5px;
    }

    #saveItem {
        font-size: 16px;
        width: 100%;
        height: 40px;
        cursor: pointer;
    }

    #saveItem:hover {
        background-color: white;
        color: black;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo da tabela */
#itemTable {
    word-wrap: break-word; /* Faz a quebra de linha entre palavras */
    word-break: break-all;
    hyphens: auto; /* Hifeniza as palavras longas, se necessário */
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgb(22, 22, 22); /* Fundo preto */
    color: white; /* Letras brancas */
    table-layout: auto;

    th, td {
        text-align: center;
        border: 1px solid #ddd; /* Pode ser ajustado para uma cor que contraste melhor */
    }
    
    th {
        height: 45px;
        font-size: 16px;
        background-color: #000000; /* Cor mais escura para o cabeçalho */
    }
    
    td {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
        max-height: 50px; /* Limita a altura máxima */
    }
    
    td.tdDesc {
        max-width: 300px;
    }
    
    .highlightDefault {
        background-color: rgb(255, 255, 255); /* Cor de fundo ao passar o mouse *//* Cor do texto */
        cursor: pointer;
    
        td {
            color: black;
            border: 1px solid rgb(0, 0, 0);
        }
    }
    
    /* Estilo para linha em modo de exclusão */
    .highlight {
        background-color: red; /* Cor de fundo ao passar o mouse */
        color: white; /* Cor do texto */
        cursor: pointer;
    }
    
    .highlightEdit {
        background-color: #70ff78; /* Cor de fundo ao passar o mouse */
        color: black; /* Cor do texto */
        cursor: pointer;
    }
}

#main {
    margin: 0 100px 20px 100px;

    .editableArea:empty::before, #editableArea:empty::before {
        content: attr(data-placeholder);
        color: gray;
    }

    #section1 {

        #charInfos {
            display: flex;

            #imgDiv {
                display: grid;

                #imgLabel {
                    background-color: black;
                    text-align: center;
                    font-weight: bold;
                    cursor: pointer;
                    border: 2px solid gray;
        
                    #imgSelectBtnFake {
                        font-size: 16px;
                    }
                }
        
                #imgLabel:hover {
                    background-color: white;
        
                    #imgSelectBtnFake {
                        color: black;
                    }
                }

                #charImg {
                    background-color: black;
                    width: 25em;
                    height: 22.5em;
                    border: solid 1px gray;
                    object-fit: cover;
                    object-position: 20% 10%;
                }

                #perInfoBtn {
                    display: none;
                }

                #perInfoBtn, #perInfoBtnFake {
                    background-color: black;
                    width: 100%;
                    font-weight: bold;
                    font-size: 16px;
                }

                #perInfoBtn:hover, #perInfoBtnFake:hover {
                    background-color: white;
                    color: black;
                    cursor: pointer;
                }
            }
    
            input {
                background-color: black;
            }
    
            #infoInput {
                background-color: black;
                border: solid 1px gray;
                padding: 10px;
                width: 100%;
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 30px;
    
                .infoInputDiv {
                    display: grid;
                    align-items: center;
                    padding: 10px;
    
                    span {
                        font-size: 17px;
                        font-weight: bold;
                    }
                    
                    input {
                        background-color: black;
                        height: 100%;
                        padding: 10px;
                        font-size: 17px;
                    }
                }
            }
        }
    }

    #section2 {
        margin-top: 25px;

        h1 {
            margin-bottom: 10px;
        }

        #charInfos2 {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 10px;
            width: 100%;

            #textAreasDiv1 {
                display: grid;
                row-gap: 15px;

                #backgroundArea {
                    background-color: black;
                    width: 100%;
                    height: auto;
                    resize: vertical;
                    min-height: 300px;
                    font-size: 18px;
                    padding: 10px;
                }

                #textAreasDiv3 {
                    display: grid;
                    grid-template-columns: auto auto;
                    column-gap: 10px;

                    .infoTextarea {
                        background-color: black;
                        resize: vertical;
                        width: 100%;
                        min-height: 100px;
                        font-size: 16px;
                        padding: 10px;
                    }
                }
            }

            #textAreasDiv2 {
                display: grid;
                row-gap: 15px;
                width: 100%;

                .infoTextarea {
                    background-color: black;
                    resize: vertical;
                    min-height: 100px;
                    font-size: 16px;
                    padding: 10px;
                }
            }
        }
    }

    #section3 {
        display: none;
        gap: 15px;

        .statusSpan {
            font-size: 17px;
            font-weight: bold;
        }

        .statusSpan2 {
            text-align: center;
        }

        #statusDiv {
            display: flex;
            gap: 15px;

            #barsDiv {
                display: grid;
                gap: 35px;
                width: 50%;
                background-color: black;
                border: solid 1px gray;
                padding: 10px;
                align-items: center;

                #lifeStatus, #sanityStatus, #energyStatus {

                    .changeBarStatusDiv {
                        display: flex;
                        gap: 10px;

                        .changeStatusBtn {
                            background-color: black;
                            font-weight: bold;
                            align-items: center;
                            cursor: pointer;
                            width: 50px;
                            border-color: gray;
                        }
                
                        .changeStatusBtn:hover {
                            border-color: white;
                        }
                    }

                    #energyPointsLimitInput {
                        background-color: black;
                        color: white;
                        text-align: center;
                        font-size: 15px;
                        width: 80px;
                        font-weight: bold;
                    }

                    .statusCheckDiv, .lifeChecks {
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        
                        #checkSpans2 {
                            display: block;
                        }

                        #checkSpans3 {
                            display: none;
                        }

                        .statusChecks {
                            width: 15px;
                            height: 15px;
                        }
                    }

                    #exhaustSelect {
                        background-color: black;
                        color: white;
                        text-align: center;
                        cursor: pointer;
                        font-size: 14px;
                        width: 60px;
                    }

                    #exhaustSelect:hover {
                        border-color: white;
                    }    

                    #lifeBarDiv, #sanityBarDiv, #energyBarDiv {
                        display: flex;
                        width: 100%;
                        background-color: gray;
    
                        #lifeBar {
                            background-color: red;
                        }
                        
                        #sanityBar {
                            background-color: purple;
                        }
                        
                        #energyBar {
                            background-color: blue;
                        }
                    }
    
                    #lifeCheckDiv, #sanityCheckDiv, #energyCheckDiv {
                        display: flex;
                        gap: 15px;
                    }
    
                    .barDiv {
                        position: relative;
                        display: grid;
                        gap: 5px;
                        height: 30px;
                    
                        .bar {
                            padding: 3px;
                            width: 100%;
                            transition: width 2s;
                            z-index: 1; // Mantém a barra abaixo do texto
                        }
                    
                        .statusText {
                            position: absolute;
                            top: 50%;   // Centraliza verticalmente
                            left: 50%;  // Centraliza horizontalmente
                            transform: translate(-50%, -50%);  // Ajuste de centralização
                            z-index: 2; // Garante que o texto fique sobre a barra
                            color: white; // Ajuste de cor para contraste
                        }
                    }
                    
                    .barDiv:hover {
                        border-color: white;
                    }
                }
            }

            #bodyStatus {
                display: grid;
                gap: 5px;
                background-color: black;
                border: solid 1px gray;
                padding: 10px;
                width: 50%;

                input {
                    background-color: black;
                    color: white;
                    text-align: center;
                    font-size: 23px;
                    width: 100%;
                }

                #protectionDiv {
                    display: grid;
                    gap: 20px;
                    
                    #velDiv {
                        
                        #velocity {
                            width: 100%;
                        }
                    }

                    #defType {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    #protectionType {
                        display: flex;
                        grid-auto-columns: auto auto auto;
                        align-items: center;
                        gap: 10px;

                        #armorWeight {
                            font-size: 18px;
                            background-color: black;
                            color: white;
                            text-align: center;
                            cursor: pointer;
                        }

                        #armorWeight:hover {
                            border-color: white;
                        }
                    }

                    #dmgReductDiv {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;

                        .statusSubDiv {
                            width: 100%;
                        }
                    }
                }
            }
        }

        #attackAndTraining {
            display: flex;
            column-gap: 15px;

            span {
                font-size: 17px;
                font-weight: bold;
            }

            #textAreasDiv4, #textAreasDiv5 {
                display: grid;
                width: 100%;

                .infoTextarea {
                    background-color: black;
                    resize: none;
                    min-height: 200px;
                    font-size: 16px;
                    padding: 10px;
                }
            }
        }

        #skillsDiv {
            display: grid;
            grid-auto-columns: auto auto;
            gap: 10px;

            .attSkillInput {
                color: purple !important;
            }

            .powerAttSkillInput {
                width: 142.16px;
            }

            .attSkillInput, .attInput {
                background-color: black;
                color: yellow;
                text-align: center;
                font-size: 23px;
                width: 100%;
                font-weight: bold;
            }

            .attSkillInput:hover, .attInput:hover {
                border-color: white;
            }

            .attSkillMainSpan {
                text-align: center;
                font-size: 17px;
                font-weight: bold;
            }

            #atributes {
                display: grid;
                gap: 15px;
                background-color: black;
                border: solid 1px gray;
                padding: 10px;

                #atributesInputDiv {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    gap: 10px;

                    .attModGrid {
                        display: flex;

                        .attInput {
                            text-align: center;
                            font-size: 23px;
                            width: 100%;
                        }
                    }

                    .attSkillInput {
                        text-align: center;
                        width: 150px;
                    }
                }
            }

            #skills {
                display: grid;
                row-gap: 15px;
                width: 100%;
                background-color: black;
                border: solid 1px gray;
                padding: 10px;

                /*#profBonusDiv {
                    display: grid;
                    grid-template-columns: auto;
                    gap: 20px;

                    #profBonusGrid {
                        display: grid;
                        grid-template-columns: auto auto;
                        gap: 10px;

                        .attSkillInput {
                            font-size: 23px;
                        }
                    }
                }*/

                #skillsGridDiv {
                    display: grid;
                    gap: 10px;
                    grid-template-columns: auto auto auto auto;

                    .skillsGrid {
                        
                        /*.profModalGrid {
                            display: grid;
                            
                            .profModalDiv {
                                display: none;
                                gap: 10px;
                                position: absolute;
                                background-color: white;
                                z-index: 10;
                                border: solid 1px gray;
                                padding: 5px;

                                .profModalSpan {
                                    color: black;
                                }

                                input {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }*/

                        .openSkillStatus {
                            color: yellow;
                            font-size: 16px;
                            cursor: pointer !important;
                            user-select: none;
                            font-weight: bold;
                        }
                        
                        .spanan {
                            display: none;
                            background-color: white;
                            border: 2px solid gray;
                            color: black;
                            border-top: 0;
                            padding: 7px 7px 0 7px;
                            position: absolute;
                            
                            .radioDiv {
                                display: grid;
                                column-gap: 10px;
                                justify-content: center;
                                
                                span {
                                    color: black;
                                }
                            }                    
                        }
                    }
                }
            }
        }
    }

    #section4 {
        display: none;
        gap: 15px;

        #editContentBtn {
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;
            margin-bottom: 35px;
            
            .editBtnDiv {
                display: flex;
                align-items: center;

                .xBtn {
                    display: none;
                    border-color: white;
                }

                .editBtn {
                    opacity: 50%;
                    border-color: gray;
                }

                .editBtn, .xBtn {
                    background-color: black;
                    cursor: pointer;
                    width: 100px;

                    .imgBtn {
                        margin: auto;
                        width: 60px;
                        padding: 5px;
                    }
                }

                .editBtn:hover, .xBtn:hover {
                    opacity: 100%;
                    border-color: white;
                }
            }
        }

        #editContent {
            display: block;

            #passiveAb, #activeAb, #spellsDiv, #weaponsDiv {
                display: none;
                width: 100%;
            }

            .editOpts {
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
                justify-content: left;
                column-gap: 10px;
                background-color: black;
                width: 100%;
                padding: 5px;
                border: 1px solid gray;
                border-bottom: 0;
                
                .fontStyle {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    width: 30px;
                    font-size: 18px;
                    cursor: pointer;
                    outline: none;
                }
                
                .fontStyle:hover {
                    border-color: white;
                }
                
                .inputStyle {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                
                    option {
                        background-color: black;
                    }
                }
                
                .inputStyle:hover {
                    border-color: white;
                
                    option {
                        background-color: black;
                    }
                }
                
                .colorSfontColorstyle {
                    height: 21.5px;
                    width: 20px;
                }
                
                .fontColor:hover {
                    border-color: white;
                }
                
                .fontStyleEditor {
                    padding: 0;
                    width: 1.6em;
                    height: 1.45em;
                
                    .editorImgs {
                        width: 1.2em;
                        padding: 0;
                    }
                
                    .editorList .editorAlign {
                        height: 1.15em;
                    }
                }
            }

            .editableArea {
                overflow: hidden !important;
                word-wrap: break-word;
                word-break: break-all;
                border: solid 1px gray;
                background-color: black;
                min-height: 587px;
                height: 100%;
                width: 100%;
                padding: 10px;
            }
        }
    }

    #section5 {
        display: none;
        //grid-template-columns: auto auto;
        column-gap: 10px;
        width: 100%;

        #editContent1 {
            display: grid;
            gap: 25px;

            .bpDiv {
                display: flex;
                gap: 5px;

                /* Botões */
                #delete-btn, #edit-btn, #openModal {
                    color: rgb(255, 255, 255);
                    width: 125px;
                    font-size: 13px;
                    border: none;
                    width: 50px;
                    cursor: pointer;
                }

                #delete-btn{
                    background-color: red;
                }

                #edit-btn {
                    background-color: #45a049;
                }

                #delete-btn:hover {
                    background-color: rgb(255, 77, 77);
                }

                #edit-btn:hover {
                    background-color: #70ff78;
                }

                #openModal {
                    background-color: black;
                    border: 2px solid gray;
                }

                #openModal:hover {
                    background-color: rgb(16, 16, 16);
                }
            }

            #wealth {
                display: grid;

                div {
                    display: flex;
                    justify-content: space-evenly;
                    gap: 15px;
                    //grid-template-columns: auto auto auto;
                    //gap: 15px;

                    .wealthInput, .weightInput {
                        text-align: center;
                        font-size: 20px;
                        background-color: black;
                        padding: 5px;
                        width: 100%;
                    }
                }
            }

            #weight {
                display: flex;
                justify-content: space-between;
                gap: 15px;

                .weightDiv {
                    position: relative;
                    width: 100%;

                    .weightInput {
                        text-align: center;
                        font-size: 20px;
                        background-color: black;
                        padding: 5px;
                        width: 100%;
                    }

                    .backpackTypeSelect {
                        display: grid;
                        grid-auto-flow: column;
                        justify-content: start;
                        align-items: center;
                        gap: 10px;

                        .openSkillStatus {
                            color: yellow;
                            font-size: 16px;
                            cursor: pointer !important;
                            user-select: none;
                            font-weight: bold;
                        }
                        
                        .spanan {
                            display: none;
                            background-color: white;
                            border: 2px solid gray;
                            color: black;
                            border-top: 0;
                            padding: 7px 7px 0 7px;
                            position: absolute;
                            top: 30px;
                            
                            .radioDiv {
                                display: grid;
                                column-gap: 10px;
                                justify-content: center;
                                
                                span {
                                    color: black;
                                }
                            }                    
                        }
                    }
                }
            }
        }

        #editContent1, #editContent2 {

            .editOpts {
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
                justify-content: left;
                column-gap: 10px;
                background-color: black;
                width: 100%;
                padding: 5px;
                border: 1px solid gray;
                border-bottom: 0;
                
                .fontStyle {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    width: 30px;
                    font-size: 18px;
                    cursor: pointer;
                    outline: none;
                }
                
                .fontStyle:hover {
                    border-color: white;
                }
                
                .inputStyle {
                    background-color: rgba(0, 0, 0, 0);
                    color: white;
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                
                    option {
                        background-color: black;
                    }
                }
                
                .inputStyle:hover {
                    border-color: white;
                
                    option {
                        background-color: black;
                    }
                }
                
                .colorSfontColorstyle {
                    height: 21.5px;
                    width: 20px;
                }
                
                .fontColor:hover {
                    border-color: white;
                }
                
                .fontStyleEditor {
                    padding: 0;
                    width: 1.6em;
                    height: 1.45em;
                
                    .editorImgs {
                        width: 1.2em;
                        padding: 0;
                    }
                
                    .editorList .editorAlign {
                        height: 1.15em;
                    }
                }
            }

            #editableArea1 {
                min-height: 497px;
            }

            #editableArea2 {
                min-height: 676px;
            }

            .editableArea {
                word-wrap: break-word;
                word-break: break-all;
                border: solid 1px gray;
                background-color: black;
                padding: 10px;
            }
        }
    }

    #section6 {
        display: none;
        width: 100%;

        .editOpts {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
            justify-content: left;
            column-gap: 10px;
            background-color: black;
            width: 100%;
            padding: 5px;
            border: 1px solid gray;
            border-bottom: 0;
            
            .fontStyle {
                background-color: rgba(0, 0, 0, 0);
                color: white;
                width: 30px;
                font-size: 18px;
                cursor: pointer;
                outline: none;
            }
            
            .fontStyle:hover {
                border-color: white;
            }
            
            .inputStyle {
                background-color: rgba(0, 0, 0, 0);
                color: white;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
            
                option {
                    background-color: black;
                }
            }
            
            .inputStyle:hover {
                border-color: white;
            
                option {
                    background-color: black;
                }
            }
            
            .colorSfontColorstyle {
                height: 21.5px;
                width: 20px;
            }
            
            .fontColor:hover {
                border-color: white;
            }
            
            .fontStyleEditor {
                padding: 0;
                width: 1.6em;
                height: 1.45em;
            
                .editorImgs {
                    width: 1.2em;
                    padding: 0;
                }
            
                .editorList .editorAlign {
                    height: 1.15em;
                }
            }
        }

        #editableArea {
            word-wrap: break-word;
            word-break: break-all;
            overflow: hidden;
            border: solid 1px gray;
            background-color: black;
            padding: 10px;
            width: 100%;
            min-height: 587px;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 1450px) {

    #header {

        #navigationBar {
    
            .headerImgDiv {
        
                .headerImgs {
                    width: 40px;
                }  
            }
        }
        
        #hamburguerMenuDiv {
            margin: 85px 0 0 0;
            justify-content: space-between;
        }
    }

    #main {
        margin: 0 30px 30px 30px;

        #section1 {

            #charInfos {
                
                #imgDiv {

                    #imgLabel {

                        #imgSelectBtnFake {
                            font-size: 16px;
                        }
                    }
                }
    
            }
        }

        #section5 {
            display: none;
            grid-template-columns: auto;
            gap: 20px;
        }
    }
}

@media only screen and (max-width: 1340px) {

    #main {
        
        #section4 {

            #editContent {
                grid-template-columns: auto auto;
                gap: 15px;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {

    #header {

        #hamburguerMenuDiv {
            justify-content: center;
        }
    }

    #main {

        #section1 {

            #charInfos {
                display: grid;

                #imgDiv {
                    display: grid;
                    margin: auto;
    
                    #perInfoBtn {
                        display: block;
                    }
    
                    #perInfoBtnFake {
                        display: none;
                    }
                }

                #infoInput {
                    display: none;
                }
            }
        }

        #section3 {
    
            #statusDiv {     
                
                #barsDiv {
                    width: 70%;
                }
    
                #bodyStatus {
                    width: 40%;
                }
            }
    
            /*#skillsDiv {
    
                #atributes {
    
                    #atributesInputDiv {
    
                        .attModGrid {
    
                            .attInput {
                                width: 70px;
                            }
                        }
                    }
                }
            }*/
        }

        #section4 {
            display: none;
            grid-template-columns: auto;
            gap: 15px;

            #editContent {
                grid-template-columns: auto;
                gap: 15px;
            }
        }

        #section5 {
            //grid-template-columns: auto;
            //column-gap: 10px;
    
            #editContent1, #editContent2 {

                .editOpts {
                    display: flex;
                    justify-content: left;
                }
                
                .editableArea {
                    resize: none;
                    font-size: 17px;
                }
            }
        }
    }
}

@media only screen and (max-width: 915px) {
    
    #main {

        .editOpts {

            .fontColor {
                display: none;
            }

            .unorderedList {
                display: none;
            }
        }

        #section3 {
    
            #statusDiv {     
                display: block;

                #barsDiv {
                    width: 100%;
                }
    
                #bodyStatus {
                    width: 100%;
                }
            }
    
            #skillsDiv {
                display: block;

                #atributes {

                    #atributesInputDiv {
                        grid-template-columns: auto auto auto;
                        justify-content: space-between;
                        row-gap: 15px;

                        /*.attModGrid {
                            gap: 10px;
                            
                            .attInput {
                                width: 70px;
                            }
                        }*/
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {

    #main {

        #section4 {
            
            #editContent {
                
                .editableArea {
                    resize: none;
                    font-size: 17px;
                    min-height: 483px;
                }
            }
        }
    }
}

@media only screen and (max-width: 760px) {

    #header {

        #navigationBar {
            display: none;
        }

        #hamburguerMenuDiv {
            height: 70px;
            align-items: center;
            display: grid;
            grid-template-columns: auto auto;
            justify-content: left;
            background-color: black;
            gap: 25px;
            margin: 0;
            padding: 0;
            position: fixed;
            top: 0;
            width: 100%;
            border-bottom: 1px solid gray;

            #headerTitle {
                display: block;
                font-size: 30px;
            }

            #saveLoadDelBtns {
                display: none;
                margin: 0;

                .saveLoadDelBtn {

                    .saveLoadDelImg {
                        width: 30px;
                    }
                }   
            }

            #hamburguerMenuBtns {
                margin: 0 0 0 10px;

                .hamburguer {
                    width: 30px;
                }

                #hamburguerMenu {
                    display: block;
                }
    
                #xHamburguerMenu {
                    width: 30px;
                    height: 27px;
                    display: none;
                }
            }
        }
    }

    #main {
        margin-top: 95px;
        margin-bottom: 105px;

        

        #section1 {

            #charInfos {
    
                #imgDiv {
                    display: grid;
                    width: 100%;
    
                    #charImg {
                        object-position: 50%;
                        object-fit: cover;
                        width: 100%;
                        height: auto;
                        max-height: 30em;
                        border: solid 1px gray;
                    }

                    #perInfoBtnFake {
                        display: none;
                    }

                    #perInfoBtn {
                        display: block;
                    }
                }

                #infoInput {
                    display: none;
                    grid-template-columns: auto;
                    gap: 5px;
        
                    .infoInputDiv {
        
                        span {
                            font-size: 18px;
                        }
                        
                        input {
                            font-size: 18px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    
        #section2 {
    
            #charInfos2 {
                display: grid;
                grid-template-columns: auto;
                row-gap: 10px;
    
                #textAreasDiv1 {
                    display: grid;
                    row-gap: 10px;
    
                    #backgroundArea {
                        min-height: 250px;
                        font-size: 18px;
                        resize: none;
                    }
    
                    #textAreasDiv3 {
                        display: grid;
                        grid-template-columns: auto;
                        row-gap: 10px;
    
                        .infoTextarea {
                            resize: none;
                            min-height: 120px;
                            font-size: 17px;
                        }
                    }
                }
    
                #textAreasDiv2 {
                    display: grid;
                    row-gap: 10px;
    
                    .infoTextarea {
                        resize: none;
                        min-height: 120px;
                        font-size: 17px;
                    }
                }
            }
        }

        #section3 {
    
            #skillsDiv {

                #atributes {

                    #atributesInputDiv {
                        display: grid;
                        grid-template-columns: auto auto auto;

                    }
                }
            }

            #attackAndTraining {
                display: grid;
                row-gap: 15px;
            }
        }

        #section4 {

            #editContentBtn {
                gap: 30px;

                .editBtnDiv {
                    
                    .editBtn, .xBtn {
                        width: 80px;
            
                        .imgBtn {
                            width: 50px;
                            padding: 5px;
                        }
                    }
                }
            }
            
            #editContent {
                gap: 20px;

                .editOpts {
                    display: flex;
                    justify-content: left;
                }
                
                .editableArea {
                    resize: none;
                    font-size: 17px;
                    min-height: 587px;
                }
            }
        }

        #section5 {
            .modal-content {
                height: 550px;
                width: 500px;
                top: 49%;                    
            }

            #itemTable {

                td.tdDesc, th#thDesc {
                    display: none;
                }
            }
        }

        #section6 {
    
            .editOpts {
                display: flex;
                justify-content: left;
            }
            
            #editableArea {
                resize: none;
                font-size: 17px;
            }
        }
    }

    #footer {
        display: block;
        margin-top: 80px;
    
        #bottomNavigationBar {
            width: 100%;
            position: fixed;
            bottom: 0;
            z-index: 10;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            text-align: center;
            background-color: black;
    
            .headerImgDiv {
                width: 100%;
                padding: 18px;
                cursor: pointer;
                border-top: 1px solid gray;
        
                .headerImgs {
                    opacity: 50%;
                    width: 40px;
                }  
            }

            .headerImgDiv:hover {
        
                .headerImgs {
                    opacity: 100%;
                }  
            }
        }
    }
}

@media only screen and (max-width: 670px) {

    #main {
        
        #section3 {
    
            #statusDiv {     
                display: block;

                #barsDiv {
                    width: 100%;
                }
    
                #bodyStatus {
                    width: 100%;
    
                    #protectionDiv {
    
                        #protectionType {
    
                            #armorWeight {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
    
            #skillsDiv {

                #atributes {
                    gap: 20px;

                    #atributesInputDiv {
                        grid-template-columns: auto auto auto;

                        .attModGrid {
                            display: grid;
                            gap: 0;
                            
                            .attInput {
                                width: 100%;
                            }
                        }
                    }
                }
    
                #skills {
    
                    #skillsGridDiv {
                        display: grid;
                        gap: 10px;
                        grid-template-columns: auto auto auto;
    
                        /*.skillsGrid {
                            
                            .profModalGrid {
                                display: grid;
                                
                                .profModalDiv {
                                    display: none;
                                    gap: 10px;
                                    position: absolute;
                                    background-color: white;
                                    z-index: 10;
                                    border: solid 1px gray;
                                    padding: 5px;
    
                                    .profModalSpan {
                                        color: black;
                                    }
    
                                    input {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                            }
                        }*/
                    }

                    /*#profBonusDiv {
                        display: grid;
                        grid-template-columns: auto;
                        gap: 5px;

                        #profBonusGrid {
                            display: flex;
                            gap: 5px;
                        }

                        #passiveBonus {
                            display: none;
                        }
                    }*/
                }
            }
        }
    }
}

@media only screen and (max-width: 615px) {

    #main {

        #section3 {

            #statusDiv {

                #barsDiv {

                    .statusCheckDiv, .lifeChecks {

                        .checkSpans {
                            font-size: 17px;
                        }

                        #checkSpan2, #checkSpans3 {
                            font-size: 17px;
                        }
                    }

                    #sanityStatus {

                        #sanityCheckDiv {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            gap: 12px;
                        }
                    }

                    #lifeStatus {

                        #lifeCheckDiv {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            gap: 12px;

                            .lifeChecks {

                                #exhaustSelect {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 590px) {

    button, label {
        font-size: 13px !important;
    }

    input[type=checkbox] {
        width: 13px !important;
    }

    select {
        font-size: 12px !important;
    }

    input, p {
        font-size: 15px !important;
    }

    #energyPointsLimitInput {
        font-size: 12px !important;
        width: 50px !important;
    }

    span {
        font-size: 14px !important;
    }

    textarea {
        font-size: 13px !important;
    }

    h1, h2 {
        font-size: 16px !important;
    }

    .editableArea {
        font-size: 13px !important;
    }

    table {
        th {
            font-size: 14px !important;
            height: 35px !important;
        }

        td {
            font-size: 13px !important;
        }
    }

    #main {

        #section1, #section2, #section3, #section4, #section5, #section6 {
            max-width: 100%;
            width: 100%;
        }

        #section1, #section3 {
            margin-top: 70px;
        }

        #section4, #section5, #section6 {
            margin-top: 90px;
        }

        #section3 {

            #statusDiv {
            
                #barsDiv {
    
                    #lifeStatus, #sanityStatus, #energyStatus {
        
                        .barDiv {
        
                            .bar {
                                font-size: 18px;
                            }
                        }

                        .statusCheckDiv {

                            #checkSpans2 {
                                display: none;
                            }

                            #checkSpans3 {
                                display: block;
                            }
                        }
                    }
                }

                #bodyStatus {
    
                    #protectionDiv {
                        
                        #protectionType {
    
                            #armorWeight {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
    
            #skillsDiv {

                #atributes {

                    #atributesInputDiv {
                        grid-template-columns: auto auto;

                        div {
                            
                            .attSkillSpan {
                                font-size: 17px;
                            }
                        }

                        .attModGrid {
                            display: grid;
                            gap: 0;
                            
                            .attInput {
                                width: 100%;
                            }
                        }
                    }
                }
    
                #skills {
                    gap: 20px;

                    #skillsGridDiv {
                        grid-template-columns: auto auto;
    
                        .skillsGrid {

                            .spanan {
                                font-size: 17px;
                            }

                            /*.profModalGrid {
                                display: grid;
                                
                                .profModalDiv {
                                    display: none;
                                    gap: 10px;
                                    position: absolute;
                                    background-color: white;
                                    z-index: 10;
                                    border: solid 1px gray;
                                    padding: 5px;
    
                                    .profModalSpan {
                                        color: black;
                                    }
    
                                    input {
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                            }*/
                        }
                    }
                }
            }
        }

        #section4 {
            
            #editContentBtn {
    
                .editBtnDiv {
                    
                    .editBtn, .xBtn {
                        width: 75px;
            
                        .imgBtn {
                            width: 45px;
                            padding: 2px;
                        }
                    }
                }
            }
        }

        #section5 {
            
            .weightDiv {

                .backpackTypeSelect {
                    
                    .spanan {
                        
                        .radioDiv {
                            display: grid;
                            column-gap: 10px;
                            justify-content: center;
                            
                            span {
                                color: black;
                            }
                        }                    
                    }
                }
            }
        }

        #section6 {
            .editOpts {
                #myColor7 {
                    display: block !important;
                }

                .editTextBtn {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {

    #main {
        margin-left: 1px;
        margin-right: 1px;

        #section5 {
            .modal-content {
                height: 100%;
                max-height: 500px;
                min-width: 370px;
                width: 100%;
            }
    
            #itemTable {
    
                .itemInfoDiv {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: space-between;
                    gap: 10px;
            
                    div {
                        max-width: 150px;
            
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}